{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": "off",
        "arrow-parens": "off",
        "indent": "off",
        "linebreak-style": "off",
        "prefer-const": "off",
        "quotes": "off",
        "eol-last": "off",
        "require-jsdoc": "off",
        "no-undef":"off",
        "comma-dangle": "off",
        "operator-linebreak": "off",
        "no-debugger": "off",
        "brace-style": "off"
    },
    "extends": ["eslint:recommended", "google"]
}